body {
    background-color: #f6e652;
    color: #623108;
}

nav{
    background-color: #9c5200;
}


/* medium-yellow : f6bd20
light-yellow: f6e652
brown-gold: 9c5200
dark-yellow: de9400
reg-brown: 
med-grey: 41414a
dark-grey: 292929
cheek-red: c52018 */

