{% extends 'base.html.j2' %}

{% block title %}
<h1> Poki App </h1>
{% endblock %}

{% block content %}
<h1> Poki App </h1>
<h3>Hey there! Go on to the Properties section to learn more about our old friends.<h1>

{% endblock %}